# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Environments
.env
.venv
env/
venv/
ENV/

# Logs
*.log
logs/

# pytest
.pytest_cache/

# Mypy / Type checking
.mypy_cache/
